[MASTER]
disable=
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-many-arguments,
    too-few-public-methods,

[FORMAT]
max-line-length=120

[MISCELLANEOUS]
notes=FIXME

[MESSAGES CONTROL]
disable=duplicate-code