[MASTER]
disable=
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-many-positional-arguments,
    too-few-public-methods,

[DESIGN]
max-args=9

[FORMAT]
max-line-length=120

[MISCELLANEOUS]
notes=FIXME

[MESSAGES CONTROL]
disable=duplicate-code
