name: Trigger GitHub pages documentation build

# build the documentation on branch "githubpages" 
on:
  release: 
      types: [published]
  #push:
    #branches:
    #  - '*'
    ## Alternative: only build for tags.
    #tags:
    #  - '**'
  workflow_dispatch: 

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Trigger the build script for the documentation on the githubpages branch
  trigger-pages:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger githubpages workflow
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: githubpages.yml
          ref: githubpages
          # The fine-grained PAT will expire after 1 year and then needs to be renewed!
          token: ${{ secrets.WORKFLOW_TRIGGER_TOKEN || secrets.GITHUB_TOKEN }}
