name: Pylint

on:
  push:
    branches: [ "main", "v10.4.x" ]
    paths-ignore:
      - '.github/workflows/ci.yml'
      - '.github/workflows/release.yml'
      - '.github/workflows/docs.yml'
      - 'docs/**'
      - 'README.md'
      - 'DEVELOPMENT.md'
  pull_request:
    branches: [ "main", "v10.4.x" ]
    paths-ignore:
      - '.github/workflows/ci.yml'
      - '.github/workflows/release.yml'
      - '.github/workflows/docs.yml'
      - 'docs/**'
      - 'README.md'
      - 'DEVELOPMENT.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ vars.PYTHON_VERSION }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install .
    - name: Analysing the code with pylint
      run: |
        pylint --rcfile=.pylintrc $(git ls-files '*.py')
