name: Release

on:
  workflow_dispatch:
    inputs:
      deployment-env:                        
        type: choice                         
        description: 'Deployment environment'
        required: true                       
        options:                             
          - test.pypi.org                    
          - pypi.org                         
        default: 'test.pypi.org'             
                                             
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing to pypi.org and test.pypi.org
      contents: write  # needed for the softprops/action-gh-release GitHub release step

    steps:

    - uses: actions/create-github-app-token@v1
      id: app-token
      with:
        app-id: ${{ vars.DISY_RELEASE_APP_ID }}
        private-key: ${{ secrets.DISY_RELEASE_APP_SECRET }}

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ steps.app-token.outputs.token }}


    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ vars.PYTHON_VERSION }}

    # poetry is needed for building and for poetry-bumpversion for version management
    - name: Install poetry
      run: |
        pipx install poetry
        poetry self add poetry-bumpversion

    # install dependencies early in case there are problems, do not build yet, or we will have a dist with wrong version
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .

    # Needed for creating the tag
    - name: Configure Git
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"

    # either bump release or pre-release version, depending on user input
    - name: Prepare package version (e.g. 1.2.3a0.dev => 1.2.3a0) FOR TEST (!) pre-release
      if: "${{ github.event.inputs.deployment-env == 'test.pypi.org' }}"
      run: |
        poetry version "$(poetry version -s | head -n 1 | sed 's/\.dev$//')"
        RELEASE_VERSION=$(poetry version -s) && echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV 

    - name: Prepare package version (e.g. 1.2.3.dev => 1.2.3, 1.2.3a0.dev => 1.2.3) for release
      if: "${{ github.event.inputs.deployment-env == 'pypi.org' }}"
      run: |
        echo "RELEASE_VERSION=$(poetry version patch -s | head -n 1)" >> $GITHUB_ENV

    # Create a dist/wheel for the bumped version now after "poetry version" has run
    - name: Build
      run: |
        poetry build

    # either push to test.pypi.org or pypi.org, depending on user input
    - name: Publish package distributions TO TEST (!) PyPI
      if: "${{ github.event.inputs.deployment-env == 'test.pypi.org' }}"
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/

    - name: Publish package distributions to PyPI
      if: "${{ github.event.inputs.deployment-env == 'pypi.org' }}"
      uses: pypa/gh-action-pypi-publish@release/v1

    - name: Update changelog, only for proper release
      if: "${{ github.event.inputs.deployment-env == 'pypi.org' }}"
      uses: superfaceai/release-changelog-action@v2
      with:
        path-to-changelog: CHANGELOG.md
        version: ${{ env.RELEASE_VERSION }}
        operation: release

    - name: Commit and tag changes without changelog FOR TEST (!) prerelease
      if: "${{ github.event.inputs.deployment-env == 'test.pypi.org' }}"
      run: |
        git add "pyproject.toml"
        git commit -m "Chore: pre-release ${{ env.RELEASE_VERSION }}"
        git tag ${{ env.RELEASE_VERSION }}

    - name: Commit and tag changes 
      if: "${{ github.event.inputs.deployment-env == 'pypi.org' }}"
      run: |
        git add "pyproject.toml"
        git add "CHANGELOG.md"
        git commit -m "Chore: release ${{ env.RELEASE_VERSION }}"
        git tag ${{ env.RELEASE_VERSION }}

    - name: Push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: git push origin && git push --tags

    # TODO only for full release? What does this action do exactly?
    - id: get-changelog
      if: "${{ github.event.inputs.deployment-env == 'pypi.org' }}"
      name: Get version changelog
      uses: superfaceai/release-changelog-action@v2
      with:
        path-to-changelog: CHANGELOG.md
        version: ${{ env.RELEASE_VERSION }}
        operation: read

    # TODO this should only happen when releasing to PyPI, right?
    - name: Update GitHub release documentation
      if: "${{ github.event.inputs.deployment-env == 'pypi.org' }}"
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.RELEASE_VERSION }}
        body: ${{ steps.get-changelog.outputs.changelog }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Bump package version to new prerelease dev version (e.g. 1.2.3 => 1.2.4a0.dev, 1.2.3a0 => 1.2.3a1.dev)
      run: |
        poetry version "$(poetry version prerelease --dry-run -s | head -n 1).dev"
        DEV_VERSION=$(poetry version -s) && echo "DEV_VERSION=$DEV_VERSION" >> $GITHUB_ENV # Determine DEV_VERSION 

    - name: Commit version bump (push happens later)
      run: |
        git add "pyproject.toml"
        git commit -m "Chore: bump up version to ${{ env.DEV_VERSION }}"
    
    - name: Push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: git push origin

